<% provide(:title, "Help") %> <!-- example of type 1 of embedded ruby -->
<h1>Help</h1>
<p>
    Get help on the Ruby on Rails Tutorial at the
    <a href="http://www.railstutorial.org/help">Rails Tutorial help
    page</a>.
    To get help on this sample app, see the
    <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em> book</a>.
</p>

<% #Por ejemplo, toda ésta página será insertada en el body de application.html.erb en vez del yield entre las body tags %>