<!-- provide(:title, "Help"): :title is a variable component. we’ll use a special Rails function called provide -->
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %> 


<!-- type 1 of embedded ruby: executes the code inside  -->
<!-- type 2 of embedded ruby: executes it and inserts the result into the template -->
<!-- Por ejemplo, toda ésta página será insertada en el body de application.html.erb en vez del yield entre las body tags -->