<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title> <!-- example of type 2 of embedded ruby -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %> <!-- This code is responsible for inserting the contents of each page into the layout -->
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>


<!-- Ésta página contiene lo común para: about.html.erb, help.html.erb y home.html.erb -->
<!-- Dejando en cada una, únicamente el contenido no común perteneciente a cada una respectivamente -->

<!-- stylesheet_link_tag: is a Built-in helpers; This (stylesheet_link_tag) is a built-in function to include application.css for all media types (including computer screens and printers) -->
<!-- there are built-in Rails methods, method invocation with missing parentheses, symbols, and hashes-->

<!-- full_title: is a Custom helpers; In addition to coming equipped with a large number of built-in functions for use in the views, Rails also allows the creation of new ones(full_title). -->

<!-- In Rails, the principal importance of instance variables is that they are automatically available in the views, but in general they are used for variables that need to be available throughout a Ruby class.-->